*{
    margin: 0;
    padding: 0;
    font-family: sans-serif;
}

body{
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    flex-direction: column;
    /* background: #040d15; */
    background: rgb(2,0,36);
    background: linear-gradient(90deg, rgba(2,0,36,1) 0%, rgba(5,12,55,1) 34%, rgba(11,23,25,1) 85%); 



}



#borrowbtn{
    text-decoration: none;
    letter-spacing: 0.5px;
    color: #fff;
    position:absolute;
    top: 30%;
    left: 70%;
    font-size: 35px;
    background: linear-gradient(90deg,#755bea,#ff72c0);
    transition-timing-function: ease-in-out;
    transition: transform 0.5s;
    padding: 35px 72px;
    margin: 30px 0;
    border-radius: 25px;

}
#lendbtn{
    text-decoration: none;
    letter-spacing: 0.5px;
    color: #fff;
    position: absolute;
    top: 50%;
    left: 68.5%;
    font-size: 35px;
    transition-timing-function: ease-in-out;
    transition: transform 0.5s;
    padding: 35px 72px;
    margin: 30px 0;
    background: linear-gradient(90deg,#0162c8,#55e7fc);
    border-radius: 25px;
}

#borrowbtn:hover{
    transform: scale(1.19);
    
}
#lendbtn:hover{

    transform: scale(0.85);
    
}
#prof{

color: #fff;
text-decoration: none;
position: absolute;
top: 10%;
left: 80%;
font-size: x-large

}

#log{
    color: #fff;
text-decoration: none;
position: absolute;
top: 10%;
left: 87%;
font-size: x-large;
}

#usr{

    color: #fff;
    text-decoration: none;
    position: absolute;
    top: 10%;
    left: 75%;
    font-size: x-large;
}


