

*{
    margin: 0px;
    padding: 0px;
    align-items: center;
}
body{
    justify-content: center;
    min-height: 100vh;
    align-items: center;
    background: #000942;
    /* background: linear-gradient(90deg, rgba(2,0,36,1) 0%, rgba(5,12,55,1) 34%, rgba(11,23,25,1) 85%);  */
      overflow: hidden;
}
/* 
i{
    color: rgba(0,0,0,0.7);
    transition: 1s;
    padding: 0.5px;
    user-select: none;
    
}

i:hover{
    transition: 0s;
    color: cyan;
    text-shadow: 0 0 120px cyan;
    transform: scale(10px);
}


section .row{
    
    position: absolute;
    width: 100%;
    display: flex;
    white-space: nowrap;
    font-size: 40px;
   


}
section .row div{
    animation: animate 3s linear infinite;
} */
/* @keyframes animate{
    0%{
        transform: translateX(5%);
    }
    50%{
        transform: translateX(-5%);
    }
    100%{
        transform: translateX(5%);
    }
} */


.side-nav{
    position: fixed;
    background: linear-gradient(#00bcd4, #e91e63,#3f51b5,#00bcd4);
    left: 0;
    top: 0;
    width: 100px;
    height: 100vh;
    flex-direction: column;
    background-size: 100% 500%;
    background-position: 0 40%;
}

.side-nav:hover{
animation: backcolor 20s linear infinite reverse;
}
@keyframes backcolor{
    0%{
        background-position: 0 0%;
    }
    100%{
        background-position: 0 400%;
    }
}
.side-nav .tag{
 text-transform: capitalize;
 /* font-style: Roboto Condensed;  */
 color: whitesmoke;
 transform: rotate(-90deg) translateX(-400%) translateY(-50%);
 width: max-content;

}

.header{
    background-image: url(home.png);
    width: 100%;
    height: 100vh;
    background-size: 40%;
    background-repeat: no-repeat;
    background-position: 100% 100%;
    
   
   
}

.text-box{
    position: fixed;
    top: 50%;
    left: 100px;
    font-size: 20px;
    color: #fff;
}
.text-box h1{
   font-weight: 500 ;
   font-size: 86px;
   max-width: 750px;
   line-height: 85px;
}
.text-box span{
    font-size: 30px;
}

.btn2{
    position: absolute;
    left: 75%;
    top: 10%;
    text-align: right;
    text-decoration: none;
    background: #e91e63;
    color: white;
    border: 0;
    outline: 0;
    border-radius: 30px;
    padding: 10px 20px;
    cursor: pointer;


   }
.btn{
    
        position: absolute;
        left: 85%;
        top: 10%;
        text-align: right;
        text-decoration: none;
        background: #e91e63;
        color: white;
        border: 0;
        outline: 0;
        border-radius: 30px;
        padding: 10px 20px;
        cursor: pointer;

}



