<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../css/bootstrap.min.css">
    <link rel="stylesheet" href="/home2.css">
    <title>Document</title>
</head>
<body>
    

<div class="container">
    <div class="row">
      <div class="col-md-12 text-center">
        <h3 class="animate-charcter"> Hey!!!
            <br>
            Do you wanna borrow? 
            <br>
            Or
            <br>
            Lend your Item?
        </h3>
      </div>
    </div>
  </div>
  
  
       
   
   

    
    
    

        <a id="usr"><%=user.name%></a> 
        <a href="/profile/<%=user._id%>" id="prof">Profile</a>
      
             
        <a href="/home" id="log">Logout</a>
        </div>
      </div> 
 
      <a href="/profile/<%=user._id%>/store" id="borrowbtn">Borrow</a>
      <a href="/profile/<%=user._id%>/lend" id="lendbtn">Lend Item </a> 
             
   


   




      

     



   <script src="../jq/jquery.js" type="text/javascript"></script>
   <script src="../js/bootstrap.js" type="text/javascript"></script>

</body>
</html>