<!-- <!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="..css/bootstrap.min.css">
    <link rel="stylesheet" href="/signup.css">
    <link href="//db.onlinewebfonts.com/c/a4e256ed67403c6ad5d43937ed48a77b?family=Core+Sans+N+W01+35+Light" rel="stylesheet" type="text/css"/>
  
    <title>Document</title>
</head>
<body>

  
<div class="body-content">
  <div class="module">



    <%if(success!=''){%>
    <div>
            <p class="error-message"><%=success%></p> 
    </div>
    <%}%>





    <h1>Create an account</h1>
    <form class="form" action="/signup" method="post" autocomplete="on">
      <div class="alert alert-error"></div>
      <input type="text" placeholder="User Name" name="name" required />
      <input type="email" placeholder="Email" name="email" required />
      <input type="password" placeholder="Password" name="password" autocomplete="new-password" required />
      <input type="password" placeholder="Phone number" name="phone"  required />
      <input type="submit" value="Register" name="register" class="btn btn-block btn-primary" />
    </form>
  </div>
</div>
    
 
   <script src="../jq/jquery.js" type="text/javascript"></script>
   <script src="../js/bootstrap.js" type="text/javascript"></script>

</body>
</html> -->






























<!DOCTYPE html>
<html>
<head>
	<title>SignUp form</title>
	<link rel="stylesheet" href="..css/bootstrap.min.css">
    <link rel="stylesheet" href="/signup.css">
	<link href="https://fonts.googleapis.com/css?family=Poppins:600&display=swap" rel="stylesheet">
	<script src="https://kit.fontawesome.com/a81368914c.js"></script>
	<meta name="viewport" content="width=device-width, initial-scale=1">
</head>
<body>
	

   
	
	
		  
	<img class="wave" src="img/wave.png">
	<div class="container">
		<div class="img">
			<img src="img/bg.svg">
		</div>
		<div class="login-content">
			<%if(success!=''){%>
                <div class="alert" id="show"  role="alert">
                    !!! <%=success%> !!! 
                  </div>
            <%}%>
			<form action="/signup" method="post" autocomplete="off">
				<img src="img/avatar.svg">
				<h2 class="title">Welcome</h2>
           		<div class="input-div one">
           		   <div class="i">
           		   		<i class="fas fa-user"></i>
           		   </div>
           		   <div class="div">
           		   		<h5>Username</h5>
           		   		<input name="name" type="text" class="input" required />
           		   </div>
           		</div>
           		<div class="input-div pass">
           		   <div class="i"> 
					<i class="fa fa-envelope" aria-hidden="true"></i>
           		   </div>
           		   <div class="div">
           		    	<h5>Email</h5>
           		    	<input  name="email" type="email" class="input" required />
            	   </div>
				   
            	</div>
				<div class="input-div pass">
					<div class="i"> 
						<i class="fa fa-mobile" aria-hidden="true"></i>
					</div>
					<div class="div">
						 <h5>Phone no</h5>
						 <input name="phone"  type="password" class="input" required />
				 </div>
				 
			  </div>
			  <div class="input-div pass">
				<div class="i"> 
					 <i class="fas fa-lock"></i>

				</div>
				<div class="div">
					 <h5>Password</h5>
					 <input name="password" type="password" class="input" required />
			 </div>
			 
		  </div>
            
            	<input type="submit" class="btn" value="SignUp">
            </form>
        </div>
    </div>

	<script>
		function hidediv(){
			document.getElementById('show').style.visibility='hidden';
		}
		setTimeout('hidediv()',3000);
	</script>

	<script src="../jq/jquery.js" type="text/javascript"></script>
	<script src="../js/bootstrap.js" type="text/javascript"></script>
	<script src="/signup.js"></script>
	
</body>
</html>