<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <link rel="stylesheet" type="text/css" href="/store.css">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    
     

    <div class="div3">
        <table id="mytable" class="content-table">
            <thead>
                <tr>
                    <th> Name</th>
                    <th>Price</th>
                    <th>returnDate</th>
                    <th>Status</th>
                </tr>
            </thead>
            <tbody>
                <% if(record.length>0){%>
                    <%record.forEach(function(element){%>
                     
                            <tr>
                                <td>
                                    <%=element.name%>
                                </td>
                                <td>
                                    <%=element.price%>
                                </td>
                                <td>
                                    <%=element.time%>
                                </td>
                               
                                <td>
                                    <%=element.status%>
                                </td>
                
                            </tr>
                        
                                <%})%>
                             <%}%>
            </tbody>
        </table>
    </div>
</body>
</body>
</html>